/* * {
    cursor: url("./cursor.png") 20 20, auto;
} */
*{
    cursor: crosshair;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    margin: 5%;
    background-color:rgb(110, 109, 109);
    background: url(./yeasty.png) no-repeat center center fixed;
   background-size: cover;
}


/* about et contacte */
.surmoi{
    color:greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    
}
.about:hover{
    color: whitesmoke;
}
.contact:hover{
    color: whitesmoke;
}
.infoA{
    display: none;
}
.infoC{
    display: none;
}
.Adisplay{
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif; 
}



/* texte principale */
.typestyle{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vh;
    line-height: 3.9vh; 
}
.typestyle2{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Redaction'; */
    font-size: 3.5vh;
    line-height: 3.9vh; 
}
.transparent{
    color: transparent;
    text-decoration: underline whitesmoke;
}
.transparent2{
    color: transparent;
    text-decoration: underline dotted transparent;
}
.active{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.detailles{
    color: whitesmoke;
    text-decoration: none;
}
.grey{
    color:whitesmoke;
    text-decoration: none;
}
.blue{
    color: whitesmoke;
    text-decoration: none;
}
span{ 
    font-size: 3.5vh;
    line-height: 3.9vh;   
}
.toutletexte{ 
    display: flex;
    width: 60vw;
    
}
p{
    color:whitesmoke;
    font-size: 1.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* les figures */
.fig{
    position: fixed;
    bottom: 3%;
    left: 5%;
    width: 40vw;
}


/* pour mon nom */
.nom{
    position: fixed;
    bottom: 5%;
    right: 5%; 
    z-index: 2;
}
#monnom{
    /* font-family: 'Redaction'; */
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    cursor: url("./cursor.png") 20 20, auto;
    z-index: 2;
    right: 0%;
}

/* pour les photos qui aparesces */

.cache{
    display: none;
}
img.taille{
    width: auto;
    height: 45vh;
    margin-left: 35%;
    margin-top: 5%;

}
img.taille2{
    width: auto;
    height: 80vh;
    margin-top: 0%;
    margin-left: 40%;
    margin-right: 2%;
}
img.taille3{
    width: auto;
    height: 60vh;
    margin-top: 0%;
    margin-left: 40%;
    margin-right: 2%;
}
.taille4{
    font-size: 3.5vh;
}
iframe{
    margin:5%;
    width: 50vw;
    height: 400px;
}

/* les fichiers des projets */
.lesfichiers{
   
}
.projetfichier{
    position: fixed;
    width: 15%;
    color:whitesmoke;
    text-align: left;
    font-size: 1.8vh;
    font-family: Arial, Helvetica, sans-serif;
    right: 3%;
    top: 25%;
    padding: 1%;

}
.lien{
    text-decoration: whitesmoke underline dotted;
    color: whitesmoke;
    font-size: 3.5vh;
    line-height: 3.9vh; 
    animation: clignote 1s infinite;
    position: fixed;
    right: 5%;
    top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.lien2{
    text-decoration: white underline;
    color: white;
    font-size: 3.5vh;
    line-height: 3.9vh; 
    animation: clignote 1s infinite;
    position: fixed;
    right: 5%;
    top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.lien3{
    text-decoration: yellow underline;
    color: yellow;
    font-size: 3.5vh;
    line-height: 3.9vh; 
    animation: clignote 1s infinite;
    position: fixed;
    right: 5%;
    top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

img{
   width: 37vw; 
   height: auto;
   float: right;
   margin: 5%;
   
}

.lesimgfichiers{
    
}

@keyframes clignote {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

.sidetext{
    position: fixed;
    width: 25vw;
    height: auto;
    color: whitesmoke;
    left:5%;
    top: 40%;
    z-index: -1;
    font-size: 2.2vh;
    line-height: 2.7vh;    
}

@media only screen and (max-width: 380px) {
    span{ 
        font-size: 2.5vh;
        line-height: 2.9vh;   
    }
    .typestyle{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5vh;
        line-height: 2.9vh; 
    }
    .typestyle2{
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        /* font-family: 'Redaction'; */
        font-size: 2.5vh;
        line-height: 2.9vh; 
    }
    .transparent{
        color: transparent;
        text-decoration: underline whitesmoke;
    }
    .lien{
        text-decoration: whitesmoke underline dotted;
        color: whitesmoke;
        font-size: 1.5vh;
        line-height: 1.9vh; 
        animation: clignote 1s infinite;
        top: 95%;
        left: 5%;
    }
    .lien2{
        text-decoration: white underline dotted;
        color: white;
        font-size: 1.5vh;
        line-height: 1.9vh; 
        animation: clignote 1s infinite;
    }
    .lien3{
        text-decoration: yellow underline dotted;
        color: yellow;
        font-size: 1.5vh;
        line-height: 1.9vh; 
        animation: clignote 1s infinite;
    }
    .nom{
        position: fixed;
        bottom: 1.2%;
        right: 5%; 
        z-index: 2;
    }
    .sidetext{
        position: fixed;
        width: 25vw;
        height: auto;
        color: whitesmoke;
        left:5%;
        top: 40%;
        z-index: -1;
        font-size: 1.5vh;
        line-height: 2vh;    
    }

  }