@font-face {
    font-family: 'MARU';
    src: url("hiragino-maru-gothic-pron-w4.otf") format("opentype");
}

html{
    background-color:rgb(0, 0, 0);
}
body::-webkit-scrollbar {
    display: none;
  }
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .9em;
    line-height: 1.2em; 
    margin: 0%;
    padding: 0%;
    z-index: 0;

} 
a{
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
.underline{
    text-decoration: underline  1.5px yellow;
}
.table1{
    top: 0%;
    padding-top: .5%;
    padding-left: 1%;
    position: fixed;
    width: 100vw;
    height: 8vh;
    mix-blend-mode: exclusion;
    color: yellow;
    z-index: 3;
}
.table2{
    padding-top: 2%;
    padding-left: 1%;
    width: 100vw;
    height: 8vh;
    mix-blend-mode: exclusion;
    color: yellow;
    z-index: 3;
}
.table3{
    padding-top: 2%;
    padding-left: 1%;
    width: 100vw;
    height: 2vh;
    mix-blend-mode: exclusion;
    color: yellow;
    z-index: 3;
}
tr{
    vertical-align: top;
}
.td1{
    width: 20vw;
}
.td2{
    text-align: left;
    width: 16vw;
}
.td3{
    padding-left: 2%;
    padding-right: 2%;
}
.td4{
    width: 10vw;
    text-align: right;
    padding-right: 1%;
}
img{
    height: 100vh;
    width: auto;
    margin-right: 0vw;
    display: flex;
}
.margintop{
    margin-top: 10%;
}
.contenu{
    display: flex;
    flex-direction: column;
    
    width: auto;
    margin-top: 0vh;
    margin-left: 0vw;
}
.previous{
    position: fixed;
    width:10vw;
    height: 5vh;
    margin-top: 95vh;
    left: 1%;
    mix-blend-mode: exclusion;
    color: yellow;
    z-index: 2;
}
.next{
    position: fixed;
    width:10vw;
    height: 5vh;
    margin-top: 95vh;
    right: 1%;
    mix-blend-mode: exclusion;
    color: yellow;
    text-align: right;
    z-index: 2;
}
.projno{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width:60vw;
    height: 5vh;
    margin-top: 95vh;
    margin-left: 20vw;
    left: 1%;
    mix-blend-mode: exclusion;
    color: yellow;
    z-index: 2;
}
  .arenaimgs{
         width: auto;
         height: 100vh;
         display: flex;
         padding: 0;
  }
  #parent{
          margin-block-start: 0em;
          margin-block-end: 0em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 0px;
          padding-inline-end: 0px;
          scroll-padding-inline-end: 0px;
   }
  ul {
          list-style-type: none;
          width: 100vw;
          margin-block-start: 0em;
          margin-block-end: 0em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 0px;
          padding-inline-end: 0px;
          scroll-padding-inline-end: 0px;
          display: flex;
          
      }
      .img_container{
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        scroll-padding-inline-end: 0px;
        height: 100vh;
        display: flex;
      }
  
      #image-block {
        
        background-color: none;
        display: flex;
        /* justify-content: center; */
      }

      iframe{
        width: 100vw;
        height: 50vh;
        margin-top: 10vh;

      }

  
    
  
